@use "../config/vars" as *;

html {
    font-size: 10px;
    outline: none;
}

body {
    // margin-left: var(--header-spacer);
    background-color: var(--body-clr);
    line-height: var(--line-height);
    font-weight: var(--fw-medium);
    font-family: var(--body-font);
    font-size: var(--fz-normal);
    letter-spacing: .9px;
    color: var(--text-clr);
    transition: 0.2s linear;

    &.dark-theme {
        --body-clr: #222;
        --text-clr: #ddd;
        --border: 0.16rem solid #4f4b4b66;
        --title-clr: #f2f2f2;
        --shadow: .4rem .4rem 1rem #111, -.4rem -.4rem 1rem #333;
        --shadow-inset: .4rem .4rem 1rem #111 inset, -.4rem -.4rem 1rem #333 inset;
    }

    @include media(md) {

        &.spacer {
            margin-left: var(--header-spacer);
        }
    }
}