@use "../config/vars" as *;

/* ============= BUTTONS ============ */
.btn {
  transition: all 0.15s ease-in;
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: capitalize;
  vertical-align: middle;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  border-radius: 0.2rem;
  text-align: center;
  white-space: nowrap;
  position: relative;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
}

.main-btn {
  border-radius: 5px;
  padding: 12px 40px;
  color: var(--title-clr);
  box-shadow: var(--shadow);
  &:hover {
    @include shadowClr();
  }
}

.aoh {
  overflow: hidden;
  position: relative;
}
.ink {
  transform: translate(-50%, -50%);
  background: #00000033;
  border-radius: 100%;
  position: absolute;
  @include box(0);
  display: block;
  z-index: -1;
  opacity: 1;
  &.animate {
    animation: ripple 0.6s linear;
  }
}

@keyframes ripple {
  // var(--dimension)     is created  just  by javascript ;
  0% {
    opacity: 1;
    @include box(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    @include box(var(--dimension));
  }
}

// cursor

@media (hover: hover) {
  * {
    cursor: none !important;
  }
  .cursor-1,
  .cursor-2 {
    pointer-events: none;
    position: fixed;
    display: block;
    @include top-left(50%);
    z-index: 1000;
    transform: translate(-50%, -50%);
    @include circle;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }
  .cursor-1 {
    @include box(50px);
    background-color: var(--text-clr);
    opacity: 0.2;
    transition: all 0.09s linear;
  }
  .cursor-2 {
    z-index: 1000;
    @include box(8px);
    background-color: var(--primary-clr);
    transition: all 0s linear;
  }
}
