@use "../config/vars" as *;

//  home media query
@include media(md, "max") {
  .home {
    margin-top: 50px;
    &__data {
      flex: 1 1;
      margin-left: 0;
    }

    &__img {
      display: none;
    }
  }
  // / services /

  .services {
    &__data {
      .card {
        padding: var(--m-5);
      }
    }
  }
}
