@use "../config/vars" as *;

.experience {
  &__data {
    .col {
      flex: 1 1 30rem;
      padding: var(--m-8);
      border-radius: var(--m-6);
      box-shadow: var(--shadow);
      .card {
        @include fd("i", "i", column);
        gap: var(--m-4);
        @include px(var(--m-10));
        position: relative;
        &:not(:last-child) {
          p {
            margin-bottom: var(--m-10);
          }
        }
        &::after,
        &::before {
          background-color: var(--primary-clr);
          @include pseudo();
          @include top-left(0);
        }
        &::after {
          @include box(3px 100%);
          border-radius: 20px;
        }
        &::before {
          left: -9px;
          @include box(20px);
          @include circle;
        }
        .date {
          color: #8b88b1;
        }
      }
    }
  }
}
