@use "../config/vars" as *;

.faq {
  border-radius: 20px;
  .image {
    min-width: 300px;
    max-width: 500px;
    flex: 2;
    @include media(sm, "max") {
      flex: 1;
    }
  }
}
.accordion {
  &__field {
    gap: var(--m-10);
    & > * {
      flex: 1 1 30rem;
    }
  }
  &__item {
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: var(--shadow);
    border-radius: 10px;

    &.open {
      .accordion__header {
        &__title {
          font-weight: 600;
          color: var(--primary-clr);
        }

        &__arrow {
          .icon {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &__header {
    cursor: pointer;
    @include flex-between();
    padding: 15px 20px;

    &__title {
      transition: var(--transition-fast);
      font-weight: 400;
    }

    &__arrow {
      font-size: var(--m-3);
    }
  }

  &__body {
    transition: var(--transition);
    border-top: var(--border);
    height: 0;

    .description {
      @include py(var(--m-4));
      position: relative;
      margin-left: 20px;
      @include px(20px);

      &::after {
        background-color: var(--primary-clr);
        @include vertical-center;
        @include top-left(50% 0);
        @include box(3px 50%);
        @include pseudo();
      }
    }
  }
}
