@use "../config/vars" as *;

.faq {
  border-radius: 20px;
  .image {
    min-width: 350px;
    max-width: 500px;
    flex: 2;
    img {
      width: 100%;
    }
    @include media(sm, "max") {
      flex: 1;
    }
  }
}
.accordion {
  &__field {
    gap: var(--m-10);
    & > * {
      flex: 1 1 30rem;
    }
  }
  &__item {
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: var(--shadow);
    border-radius: 10px;

    &.open {
      .accordion__header {
        &__title {
          font-weight: 600;
          color: var(--primary-clr);
        }

        &__arrow {
          .icon {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &__header {
    border-bottom: var(--border);
    @include flex-between();
    padding: 10px 20px;
    cursor: pointer;

    &__title {
      transition: var(--transition-fast);
      font-size: var(--fz-normal);
      font-weight: 400;
    }

    &__arrow {
      font-size: var(--m-3);
    }
  }

  &__body {
    transition: var(--transition-fast);
    height: 0;

    .description {
      @include py(var(--m-4));
      font-size: var(--fz-small);
      position: relative;
      margin-left: 20px;
      @include px(20px);

      &::after {
        background-color: var(--primary-clr);
        @include vertical-center;
        @include top-left(50% 0);
        @include box(3px 50%);
        @include pseudo();
      }
    }
  }
}
