@use "../config/vars" as *;

.nav {
  transform: translateX(calc(-1 * var(--header-spacer)));
  @include fd(center, "i", column);
  background-color: var(--body-clr);
  transition: var(--transition);
  border-right: var(--border);
  width: var(--header-spacer);
  z-index: var(--nav-zindex);
  @include top-left(0);
  padding: var(--m-3);
  gap: var(--gap-2);
  height: 100vh;
  position: fixed;
  &.show {
    transform: translateX(0);
  }

  &__toggler {
    position: absolute;
    --width: 50px;
    right: calc(-1 * (var(--m-3) + var(--width)));
  }

  &__info {
    margin-bottom: 10px;
    .name {
      font-size: var(--m-3);
    }
    .job {
      color: var(--primary-clr);
      font-size: var(--m-2);
    }
  }

  &__logo {
    border: 10px solid var(--body-clr);
    box-shadow: var(--shadow);
    @include box(140px);
    img {
      @include circle;
    }
    & {
      @include circle;
      @include media(sm, "max") {
        @include box(100px);
      }
    }
  }

  &__list {
    @include fd("i", "i", column);
    text-align: center;
    gap: var(--m-2);
    width: 100%;
    @include media(sm, "max") {
      gap: var(--gap-6);
    }
  }

  &__item {
    flex: 1;
  }

  &__link {
    box-shadow: var(--shadow);
    color: var(--title-clr);
    font-size: var(--m-3);
    padding: var(--m-2);
    border-radius: 20px;
    display: block;
    @include media(sm, "max") {
      font-size: var(--fz-normal);
    }

    &.active,
    &:hover {
      @include shadowClr();
    }
  }
}

audio {
  display: none;
  max-width: 100%;
}
