@use "../config/vars" as *;

.home {
  @include flex-center;
  height: 100vh;
  gap: calc(var(--m-10) + 40px);
  padding-top: 100px;
  text-align: center;
  &__content {
    @include fd(center, center, column);
    gap: 150px;
  }

  &__title {
    text-transform: uppercase;
    color: var(--title-clr);
    font-size: var(--m-6);
    font-weight: var(--fw-bolder);
    @include media(sm, "max") {
      font-size: var(--m-6);
    }
  }

  &__subtitle {
    color: var(--primary-clr);
    font-size:var(--m-3) ;
  }

  &__button {
    margin-top: var(--m-3);
  }

  &__social__icon {
    box-shadow: var(--shadow);
    @include flex-between;
    max-width: 300px;
    padding: var(--m-2);
    gap: var(--m-3);
    border-radius: 10px;

    a {
      box-shadow: var(--shadow);
      color: var(--title-clr);
      font-size: var(--m-4);
      @include flex-center;
      @include box(44px);
      border-radius: 4px;
      @include media(sm, "max") {
        font-size: var(--m-3);
        @include box(40px);
      }

      &:hover {
        @include shadowClr();
      }
    }
  }
}
