@use "../config/vars" as *;

.services {
  padding: 0;
  perspective: 1000px;
  &__data {
    min-height: calc(100vh);
    align-content: center;
    @include py(var(--section-padding)) ;
    gap: var(--m-4);
    .card {
      @include flex-center();
      flex-direction: column;
      gap: var(--gap-3);
      box-shadow: var(--shadow);
      border-radius: var(--m-4);
      padding: var(--m-10);
      flex: 1 1 20rem;
      &__img {
        color: var(--primary-clr);
      }
      &__title {
        color: var(--title-clr);
        font-weight: var(--fw-bold);
      }
    }
  }
  &__end {
    text-align: center;
    margin-top: var(--m-10);
    a {
      color: var(--primary-clr);
      @include mx(5px);
    }
  }
}
