@use "../config/vars" as *;

.services {
    &__data {
        .card {
            box-shadow: var(--shadow);
            border-radius: 10px;
            padding: var(--m-4);
            position: relative;
            overflow: hidden;
            flex: 1 1  25rem;

            &::after {
                background-color: var(--primary-clr);
                transition: var(--transition-fast);
                @include box(100%);
                @include pseudo();
                bottom: -100%;
                z-index: -1;
                left: 0;
            }

            &:hover {
                * {
                    color: white !important;
                }

                &::after {
                    bottom: 0;
                }
            }

            &__img {
                color: var(--primary-clr);
                margin-bottom: 30px;
            }
        }
    }
}