@use "../config/vars" as *;

.services {
  &__data {
    gap: var(--m-10);
    .card {
      transform-style: preserve-3d;
      transform: perspective(1000px);
      @include flex-center();
      flex-direction: column;
      gap: var(--gap-3);
      box-shadow: var(--shadow);
      border-radius: var(--m-4);
      padding: var(--m-6);
      flex: 1 1 18rem;
      &> * {
        transform: translateZ(40px);
      }
      &:first-child {
        background-color: var(--clr-violet);
      }
      &:nth-child(2) {
        background-color: var(--clr-yellow);
        .card__p {
          color: var(--title-clr);
        }
      }
      &:nth-child(3) {
        background-color: var(--clr-pink);
      }

      &__img {
        transform: translateZ(60px);
        color: var(--primary-clr);
      }
      &__title {
        color: white;
        font-weight: var(--fw-bold);
      }
      &__p {
        color: #f2f2f2;
      }
    }
  }
  &__end {
    text-align: center;
    margin-top: var(--m-10);
    a {
      color: var(--primary-clr);
      @include mx(5px);
    }
  }
}
